<mat-toolbar>
  <span>{{data.titulo}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button [mat-dialog-close]="true" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<mat-dialog-content class="dialog-content">
  <div *ngIf="data.contenido; else showNewForm">
    <app-frm-editar [DataVehiculo]="data.contenido"></app-frm-editar>
  </div>

  <mat-dialog-content class="dialog-content">
  <ng-template #showNewForm>
    <app-frm-guardar></app-frm-guardar>
  </ng-template>
</mat-dialog-content>

