
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$proyectoUberWeb-primary: mat-palette($mat-indigo);
$proyectoUberWeb-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$proyectoUberWeb-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$proyectoUberWeb-theme: mat-light-theme((
  color: (
    primary: $proyectoUberWeb-primary,
    accent: $proyectoUberWeb-accent,
    warn: $proyectoUberWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($proyectoUberWeb-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-container {
  margin: 20px;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-button-container{
  position:fixed;
  bottom: 5%;
  right: 3%;
}

div.container{
  margin: 0px 40px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
  }

  .add-bottom-padding{
      padding-bottom: 10px;
  }
  /* radio group */
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.button-row button{
  margin: 5px;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}


.hide{
  display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

/* filter controls */
.search-div{
  margin: 10px;
    }
    .search-form-field{
        width: 65%;
        height: 500px;
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        }
        .search-form-field div.mat-form-field-underline {
            display: none;
        }
        .search-form-field div.mat-form-field-infix{
            border-top: 0px;
        }
        .search-form-field div.mat-form-field-wrapper{
          padding-bottom: 0px;
      }
      .search-form-field div.mat-form-field-suffix button{
          height: 32px;
          width: 32px;
      }

      /* for dialog pop-up */
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}
